* {
  border: 1px solid #ccc;
}
body {
  padding: 0 auto;
  background-color: #ede7e7;
}
.App {
  width: 375px;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans KR", serif;
  background-color: #f6f2f2;
}
h1 {
  align-items: center;
}
.fade-in {
  opacity: 1;
  transform: none;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.slide-down {
  transform: translateY(-20px);
}
